<!-- TODO Translate this file -->
<div class="container">
  <div class="container__content">
    <div class="hotbar">
      <div class="hotbar-button">
        <i class="fa fa-lg fa-save" aria-hidden="true"></i>
      </div>

      <div class="hotbar-button" alt="First delta">
        <i class="fa fa-lg fa-angle-double-up" aria-hidden="true"></i>
      </div>
      <div class="hotbar-button" alt="Last delta">
        <i class="fa fa-lg fa-angle-double-down" aria-hidden="true"></i>
      </div>

      <div class="hotbar-button" alt="Previous delta">
        <i class="fa fa-lg fa-angle-down" aria-hidden="true"></i>
      </div>
      <div class="hotbar-button" alt="Next delta">
        <i class="fa fa-lg fa-angle-up" aria-hidden="true"></i>
      </div>

      <div class="hotbar-button hotbar-button--conflict" alt="Previous solved conflict">
        <i class="fa fa-lg fa-chevron-circle-up" aria-hidden="true"></i>
      </div>

      <div class="hotbar-button hotbar-button--conflict" alt="Next solved conflict">
        <i class="fa fa-lg fa-chevron-circle-down" aria-hidden="true"></i>
      </div>

      <div class="hotbar-button hotbar-button--unsolved-conflict" alt="Previous unsolved conflict">
        <i class="fa fa-lg fa-chevron-circle-up" aria-hidden="true"></i>
      </div>

      <div class="hotbar-button hotbar-button--unsolved-conflict" alt="Next unsolved conflict">
        <i class="fa fa-lg fa-chevron-circle-down" aria-hidden="true"></i>
      </div>

      <div class="hotbar-button">
        <div class="hotbar-button__auto hotbar-button__auto--active">
          <div class="hotbar-button__auto__text">auto</div>
          <div class="hotbar-button__auto__icon">
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
