<div class="viewport">
  <div class="viewport-header">
    <div class="reference-character reference-character--output">
      <div class="reference-character__character">
        O
      </div>
    </div>
    <div class="viewport-header__info">
      <div class="viewport__header__info__path">
        ... ehm ... ??
      </div>
      <div class="viewport-header__info__type">
        output
      </div>
    </div>
  </div>
  <div class="viewport__content">
    result of the merge
  </div>
</div>
