@import './api/api';
@import './api/global-variables';

.container {

  // Display & Box Model
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  padding: 0;
  margin: 0;

  // Position
  position: relative;
}

.container__content {
  //
  // @doc: This is where the sub-containers should go in.
  //

  //@extend .container;
  // Display & Box Model
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
