.diff-windows {
  //
  // @doc flow flow controlling construction wrapping diff and output windows in columns
  //

  // Display & Box Model
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.diff-windows__sources {
  //
  // @doc flow flow controlling construction wrapping diff source windows in a row
  // Applies margin to the first child-selector, and the first of that type has additional left margin
  //

  // Extends
  @extend .diff-windows;

  // Display & Box Model
  flex-direction: row;

  > * {
    margin: 5px;
    margin-left: 0;
  }
  > *:first-of-type {
    margin-left: 5px;
  }
}
